# Tuples

Immutable (non-modifiable) lists.

## Creating tuples

In [1]:
(1, 2, 3)

(1, 2, 3)

Be careful with single item tuples. 

They need a trailing comma or else it's just an expression.

In [2]:
('Hello',)

('Hello',)

In [3]:
('Goodbye')

'Goodbye'

You can create a tuple from an existing collection/iterable, using `tuple()`.

In [4]:
tuple('abc')

('a', 'b', 'c')

## Cannot update tuples

In [5]:
try:
    b[0] = 'Howdy'
except Exception as e:
    print(repr(e))

NameError("name 'b' is not defined")

## Slicing and indexing

It's done just like lists!

## Packing and unpacking

**Packing** happens when you don't include the parentheses

In [6]:
coords = 1.2, 3.4
coords

(1.2, 3.4)

**Unpacking** happens when you expand a `tuple` into multiple variables

In [7]:
lat, lon = coords
print(lat)
print(lon)

1.2
3.4

In [8]:
a_tuple = 1.2, 3.4, 5.6, 7.8
x, *y, z = a_tuple
y

[3.4, 5.6]

## When to use tuples

### Representing objects/heterogeneous data

In [9]:
blue = 0, 0, 255
colours = ['red', 'green', blue]

### Swap variable names

Use `tuple` packing and unpacking to do neat stuff.

Without it, you'd need to introduce a temporary 3rd variable.

In [10]:
d = 100
e = -100

d, e = e, d
print(d)
print(e)

-100
100

### Represent constants/immutable values

In [11]:
paris = (33.66, -95.54)
athens = (32.20, -95.85)

### Use as dict keys

In [12]:
texas_cities = {
    paris: 'Paris',
    athens: 'Athens'
}
texas_cities

{(33.66, -95.54): 'Paris', (32.2, -95.85): 'Athens'}

### Return multiple values from a function

In [13]:
def div_mod(x, y):
    div = x // y
    mod = x % y
    return div, mod

quotient, remainder = div_mod(11, 2)
print(f'11/2 is {quotient} remainder {remainder}')

11/2 is 5 remainder 1

**Note**: the builtin `divmod()` exists because the CPU can determine them at the same time, so it saves computing time if you need both.

### Access multiple items in a loop

When you access multiple variables in `for` loops, you're actually unpacking a `tuple`.

In [14]:
for i, val in enumerate('abc'):
    print(f'{i}: {val}')

0: a
1: b
2: c

In [15]:
for tup in enumerate('abc'):
    print(tup)

(0, 'a')
(1, 'b')
(2, 'c')

### The zip() function

If you want to loop over items two or more sequences simultaneously, you can zip them and loop over the results.

In [16]:
nums = [1, 2, 3]
letters = ['a', 'b', 'c']

print(list(zip(nums, letters)))

for num, letter in zip(nums, letters):
    print(num * letter)

[(1, 'a'), (2, 'b'), (3, 'c')]
a
bb
ccc

### Practical uses of zip()

Copied from this [Real Python](https://realpython.com/python-zip-function/) article

#### Calculating in pairs

If you have a spreadsheet of `total_sales` and `costs` for multiple months, you can calculate the `profit` for each month and for the whole period.

In [17]:
total_sales_q2 = [52000.00, 51000.00, 48000.00]
costs_q2 = [46800.00, 45900.00, 43200.00]

profit_q2 = 0
for sales, costs in zip(total_sales_q2, costs_q2):
    profit = sales - costs
    print(f'Profit: ${profit}')
    profit_q2 += profit

print(f'Total profit: ${profit_q2:,}')

Profit: $5200.0
Profit: $5100.0
Profit: $4800.0
Total profit: $15,100.0

#### Building dictionaries

In [18]:
fields = ['name', 'last_name', 'age', 'job']
values = ['Jasmine', 'Doe', '45', 'Python Developer']

person = dict(zip(fields, values))
person

{'name': 'Jasmine', 'last_name': 'Doe', 'age': '45', 'job': 'Python Developer'}